### 3. Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [66]:
import numpy as np
import pandas as pd

In [75]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", 
                    "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry",
                    "blackberry", "gooseberry", "papaya"])

Use Series attributes and methods to explore your fruits Series.

Determine the number of elements in fruits.

In [7]:
fruits.size

17

Output only the index from fruits.

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [11]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits.

In [8]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [12]:
list(fruits.values)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

Confirm the data type of the values in fruits.

In [14]:
fruits.dtype

dtype('O')

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [11]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [12]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [13]:
fruits.sample(2)

4    gala apple
9          kiwi
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [15]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [16]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [19]:
fruits.value_counts().index

Index(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'blueberry',
       'blackberry', 'gooseberry', 'papaya'],
      dtype='object')

In [15]:
list(fruits.unique())

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

Determine how many times each unique string value occurs in fruits.

In [72]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [24]:
fruits.value_counts().idxmax()

'kiwi'

In [76]:
fruits.mode()

0    kiwi
dtype: object

In [27]:
fruits.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [29]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [30]:
fruits.describe().loc['top']

'kiwi'

Determine the string value that occurs least frequently in fruits.

In [25]:
fruits.value_counts().idxmin()

'strawberry'

In [77]:
fruits.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

5. Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

Capitalize all the string values in fruits.

In [34]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

Count the letter "a" in all the string values (use string vectorization).

In [85]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

Output the number of vowels in each and every string value.

In [129]:
vowels = list('aeiouy')
vowels

['a', 'e', 'i', 'o', 'u', 'y']

In [124]:
fruits.str.count('a')

def is_vowel(string):
    
    vowels = list('aeiou')
    
    for s in string:
        if s in vowels:
            print(s)

In [125]:
is_vowel('aderf')

a
e

In [98]:
fruits.isin(vowels).value_counts()

False    17
dtype: int64

Write the code to get the longest string value from fruits.

In [126]:
len(fruits.)

17

Write the code to get the string values with 5 or more letters in the name.

Find the fruit(s) containing the letter "o" two or more times.

Write the code to get only the string values containing the substring "berry".

Write the code to get only the string values containing the substring "apple".

Which string value contains the most vowels?

7. Exercises Part III

Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzj
rmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

Which letter occurs the most frequently in the letters Series?

Which letter occurs the Least frequently?

How many vowels are in the Series?

How many consonants are in the Series?

Create a Series that has all of the same letters but uppercased.

Create a bar plot of the frequencies of the 6 most commonly occuring letters.

Use pandas to create a Series named numbers from the following list:

['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

In [ ]:
['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', 
 '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17',
 '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', 
 '$769,681.94', '$452,650.23']

What is the data type of the numbers Series?

How many elements are in the number Series?

Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

Run the code to discover the maximum value from the Series.

Run the code to discover the minimum value from the Series.

What is the range of the values in the Series?

Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

Use pandas to create a Series named exam_scores from the following list:

[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

How many elements are in the exam_scores Series?

Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.